<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Jake Sharp (http://www.jakesharp.co/) All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config/etc/system.xsd">
    <system>
        <tab id="jakesharp" translate="label" sortOrder="1000">
            <label>Jake Sharp</label>
        </tab>
    </system>
    
</config>